@import '../../../assets/sass/variables.scss';


.editor-options {
  border-top: 0px;
  margin: auto;
text-align: center;

}

.centered {
margin: auto;
text-align: center;
}

.tabs.is-boxed {
  margin-bottom: 0px;
}